*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', 'sans-serif', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color:  rgb(0, 0, 0);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  form {
    background-color: purple;
    padding: 40px;
    border-color: #c9c9c9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(136, 136, 136, 0.1);
    width: 400px;
  }

  h1{
    font-size: 25px;
    color: white;
    text-decoration: none;
    font-weight: 600;
  }
  label {
    display: block;
    margin-bottom: 8px;
  }

  input {
    width: 90%;
    padding: 5px;
    margin-bottom: 15px;
    border: 1px solid #fff;
    border-radius: 4px;
    background-color:whitesmoke;
    color: grey;
  }

  input[type="submit"] {
    display: block;
     width: auto;
    background-color: white;
    color: black;
    cursor: pointer;
  }

  input[type="submit"]:hover {
    background-color: #c9c9c9;
  }